@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
  overflow-x: hidden;
}


/* fonts */
body{
	font-family: Lato, "Helvetica Neue", Arial, sans-serif;
	color: #eee;
    background: rgb(184,184,184);
    background: linear-gradient(180deg, rgba(184,184,184,1) 0%, rgba(168,92,92,1) 49%, rgba(151,0,0,1) 100%);
}
h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
}
.lead-description{
	font-family: Lato, sans-serif;
}

#quiz-holder{
  color: #000;

}

/* CSS for hero image, either background photo or background video */
.hero{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.hero header{
/*  background-color:rgba(0,0,0,0.5);*/
}
.hero .shade{
  background-color: rgba(0,0,0,0.5);
  padding: 1.5em;
}
.hero h1{
  font-size: 10vw;
  font-family: 'Knewave', sans-serif;
}
@media (max-width:850px){
  .hero h1{
    font-size: 100px;  
  }
}

.red{
  color: #ed3838;
  font-weight: bold;
}

.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: -1 !important;
}
@media (min-aspect-ratio:1/1){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}


/* 768 × 1024 */

#fullscreen-video{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
.card{
  background-color:transparent;
}
*/

/*
#fullscreen-video video{
  width: auto;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (min-aspect-ratio:3/4){
  #fullscreen-video video{
    width: 100vw;
    height: auto;
  }
}
*/

/*
#explainer video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
*/

section[role="main"]{
/*  background: white;*/
}





.spread-out{
  margin-top:100vh;
  margin-bottom:100vh;
  overflow: hidden;
}

